/* ========== MOBILE MENU ========== */
.modal-btn {
    min-width: 160px;
    height: 40px;
    padding: 12px 20px;
    font-family: var(--primary-font);
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    cursor: pointer;

    border: 1px solid var(--accent-color);
    border-radius: 25px;
    background-color: transparent;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn-theme-dark {
    color: var(--primary-text-color-theme-dark);
}

.modal-btn-theme-light {
    color: var(--primary-text-color-theme-light);
}

.modal-btn:hover,
.modal-btn:focus {
    background-color: var(--accent-color);
    color: var(--primary-text-color-theme-dark);
}

.media-list-link {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.2em;

    color: var(--primary-text-color-theme-light);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.media-list-link:hover,
.media-list-link:focus {
    color: var(--accent-color);
}

.suptitle {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    text-transform: uppercase;
}

.suptitle::before {
    display: block;
    width: 60px;
    height: 1px;
    content: '';
    margin-right: 20px;
    background-color: currentColor;
}

.suptitle-theme-dark {
    color: rgba(157, 164, 189, 0.6);
}

.suptitle-theme-light {
    color: var(--primary-text-color-theme-light);
}

.section-description {
    font-size: 16px;
    line-height: 1.63;
    letter-spacing: 0.02em;
}

.section-description-theme-dark {
    color: var(--secondary-text-color-theme-dark);
}

.section-description-theme-light {
    color: var(--secondary-text-color-theme-light);
}

.section-title {
    font-family: var(--secondary-font);
    font-size: 42px;
    line-height: 1.17;
    letter-spacing: 0.05em;
}

.section-title-theme-dark {
    margin-bottom: 44px;
    color: var(--primary-text-color-theme-dark);
}

.section-title-theme-light {
    margin-bottom: 20px;
    color: var(--primary-text-color-theme-light);
}

@media screen and (max-width: 767px) {
    .prices .section-title {
        font-size: 40px;
    }
}

@media screen and (max-width: 1199px) {
    .about .section-title {
        font-size: 28px;
    }
}

@media screen and (min-width: 768px) {
    .section-description {
        font-size: 18px;
        line-height: 1.67;
        letter-spacing: 0.02em;
    }
}

/* ========== MOBILE MENU ========== */