/* ========== ¿Why people come to us? =========*/
.number-benefits {
    position: relative;
    margin-bottom: 6px;
    font-weight: 700;
    font-size: 42px;
    line-height: 1.35;
    text-align: center;
    letter-spacing: 0.05em;

    color: var(--primary-text-color-theme-light);
}

.number-benefits::after {
    position: absolute;
    top: 0;

    content: '+';
    font-size: 16px;
    color: var(--accent-color);
}

.discription-benefits {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    text-align: center;

    color: var(--primary-text-color-theme-light);
}

.benefits .section-description {
    max-width: 370px;
}

.benefits-side {
    margin-bottom: 44px;
}

.benefits .section-title {
    letter-spacing: 0.04em;
}

.benefits-list {
    display: flex;
    flex-wrap: wrap;
}

.benefits-list-item:nth-child(2n) {
    margin-left: 30px;
    margin-top: 30px;
}

.benefits-list-item {
    width: 193px;
    height: 133px;
    text-align: center;
    padding: 20px 24px;
    background-color: #f7f7f7;
}

@media screen and (min-width: 768px) {
    .benefits-side {
        margin-right: 189px;
    }

    .benefits .section-description {
        max-width: 500px;
    }

    .benefits .section-title {
        max-width: 450px;
    }

    .benefits-list {
        margin-left: 240px;
    }

    .benefits-list-item {
        width: 210px;
    }
}

@media screen and (min-width: 1200px) {
    .benefits-container {
        width: 985px;
        display: flex;
        flex-direction: row-reverse;
    }

    .benefits-list-item {
        width: 170px;
    }

    .benefits-list {
        max-width: 370px;
        margin-right: 130px;
        margin-left: 0px;
    }

    .benefits-side {
        margin-right: 0px;
    }
}

/* ========== /¿Why people come to us? =========*/